<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backbone js tutorial</title>

    <!-- Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <h1>User Manager</h1>
      <hr>
      <div class="page"></div>

      

      <script type="text/template" id="user-list-template">
        <a href="#/new" class="btn btn-primary">New</a>
        <hr/>
        <table class="table striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>link</th>
            </tr>
          </thead>
          <tbody>
            <% _.each(users, function(user) { %>
              <tr>
                <td><%= user.get('firstname') %></td>
                <td><%= user.get('lastname') %></td>
                <td><%= user.get('age') %></td>
                <td><a href="#/edit/<%= user.id %>" class="btn btn-link">edit</a></td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </script>
      
      <!-- Edit user view -->
      <script type="text/template" id="edit-user-template">
        <form action="" class="edit-user-form col-md-3">
          <legend><%= user ? 'Update' : 'Create'%>User</legend>
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" class="form-control" value="<%= user ? user.get('firstname') : ''%>">
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" class="form-control" value="<%= user ? user.get('lastname') : ''%>">
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type="text" name="age" class="form-control" value="<%= user ? user.get('age') : ''%>">
          </div>
          <hr>
          <% if(user) { %>
            <input type="hidden" name="id" value="<%= user.id %>">
            <button class="btn btn-danger detete pull-right">Delete</button>
          <% }; %>
          <button class="btn btn-primary" type="submit"><%= user ? 'Update' : 'Create' %></button>
        </form>
      </script>
      
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/js/vendor/jquery/jquery.min.js"></script>
    <script src="assets/js/vendor/underscorejs/underscore-min.js"></script>
    <script src="assets/js/vendor/backbonejs/backbone-min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>

    
  </body>
</html>